@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('../public/fonts/Aquire.otf');
  font-family: 'aquire';
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(180deg, #000 0%, #090935 48.44%);
}

body {
  font-family: aquire;
  color: #fff;
  background: linear-gradient(180deg, #000 0%, #090935 48.44%);
}
html {
  font-family: 'aquire';
}

/* modal grid */
.modal_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  color: white;
}
@media (max-width: 768px) {
  .modal_container {
    @apply flex flex-col;
  }
}
.battery {
  grid-area: 1 / 1 / 2 / 3;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.4) 51.04%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.GPS {
  grid-area: 2 / 1 / 3 / 2;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.4) 51.04%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.UAV {
  grid-area: 2 / 2 / 3 / 3;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.4) 51.04%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.modal {
  background: linear-gradient(180deg, #000 0%, #090935 48.44%);
  box-shadow: 0 0 4px 4px rgba(255, 255, 0, 0.5);
}

/*buttons*/
.btn {
  @apply text-white py-2 px-6 font-semibold rounded-lg;
}
.screenshot {
  @apply bg-green-400;
}
.record {
  @apply bg-blue-400;
}
.close {
  @apply bg-red-400;
}
.auth {
  @apply bg-yellowish text-black rounded-3xl font-medium;
}

/*responsive navber*/
.navbar_links {
  @apply md:flex hidden;
}

@media (max-width: 768px) {
  .navbar_links {
    @apply absolute md:fixed top-[76px] left-0 bg-[#0B0B18d5] w-[100%] h-[90vh]
    justify-start items-start py-20 px-20 flex flex-col
    transition-all duration-300 ease-in-out text-2xl backdrop-blur-md ml-[-100%]
    z-10;
  }
  .mobile_nav {
    @apply ml-0;
  }
}

/*signup*/
.signup {
  background-image: url("../assets//background/wave-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

@media (max-width: 1024px) {
  .signup {
    background-image: url("../assets//background/wave-mobile.svg");
  }
}

/*form inputs*/
input {
  @apply text-black py-1 px-4 rounded-full w-[100%];
}
label {
  @apply flex flex-col gap-2;
}
label span {
  @apply text-lg text-yellowish;
}
@media (min-width: 480px) and (max-width: 768px) {
  .login {
    @apply mb-10;
  }
}
@media (max-width: 500px) {
  .login {
    @apply min-w-[225px];
  }
}
